html{
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 1;
    transition: background-color 5000ms;
}

body{
    height: 100%;
}

.image {
  width:100vw;
  height:100vw;
  background-image:url("bg.jpg");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: cover
}

@media only screen and (min-width:1px) and (max-width:700px) {
  .image {
    background-image:url("bg2.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover
  }
}


.text{/* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.gambar{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px){
    .gambar{
        max-width: 150%;
    }
    .text{
        left: 35%;
    }
}
