html{
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 1;
    transition: background-color 5000ms;
}

body{
    height: 100%;
}

.image {
  background-image:url("bg.jpg");
}

@media only screen and (min-width:1px) and (max-width:700px) {
  .image {
    background-image:url("bg2.jpg");
  }
}

